<!doctype html>
<html data-ng-app>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <title>LearnFast</title>
    <meta content="LearnFast helps you to comprehend text written in a language you want to learn." name="description" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport' />
    

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,latin-ext' rel='stylesheet' />
    <link rel="stylesheet" href="css/learnfast.css" />

    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/learnfast.js"></script>

  </head>

  <body data-ng-controller="LearnFast">
    <div class="inner" data-ng-keypress="keypress()">
      <p class="output" data-ng-show="unevenText">The text in one side has different length than on the other side.</p>

      <form data-ng-submit="start()" data-ng-hide="started">
        <h1>LearnFast</h1>
        <textarea 
          data-ng-model="source" 
          title="Original language" 
          placeholder="Enter some text in the language you want to learn"></textarea>
        <textarea 
          data-ng-model="translated" 
          title"Translated" 
          placeholder="Enter the same text in a language you understand"></textarea>
        <button 
          type="submit">Start ☞</button>
        <p><strong>What is this:</strong> LearnFast helps you to comprehend text written in a language you want to learn. To help you focus, you will read the content sentence by sentence in the original language with the option to see the translation.</p>
        <p><strong>How to use:</strong> Get the same text in the language you want to learn and in a one you can understand. Paste the original in the first text field, the translated in the second, and hit start!</p>
      </form>

      <section 
        data-ng-show="started">
        <p>{{sentences.source[current]}}</p>
        <p 
          data-ng-show="reveal"><mark>{{sentences.translated[current]}}</mark></p>
        <div 
          data-ng-hide="reveal">
          <button 
            data-ng-click="understood()">✌ I understood it!</button>
          <button 
            data-ng-click="translate()" data-ng-hide="reveal">✍ Show it translated</button>
        </div>
        <div 
          data-ng-show="reveal">
          <button 
            data-ng-click="understood()">Ok, next ☞</button>
        </div>
        <blockquote>{{current + 1}} of {{sentences.source.length}}</blockquote>
      </section>
    </div>

    <footer>
      <div class="inner">      
        <h1 data-ng-click="capture()">
          <span data-ng-hide="currentCapture">
            LearnFast
          </span>
          <span data-ng-show="currentCapture">
            {{currentCapture.name}}
          </span>
        </h1>
        <aside>
          <input type="file" id="file" name="file" accept="text/plain" data-ng-model="filePath" data-ng-change="fileAvailable()" />
          <button data-ng-show="fileEnabled" data-ng-hide="started" data-ng-click="capture()">
            <span data-ng-hide="capturing">
              load
            </span>
            <span data-ng-show="capturing">
              cancel
            </span>
          </button>
          <span data-ng-hide="sure">
            <button data-ng-show="started" data-ng-click="quit()">
              quit
            </button>            
          </span>
          <span data-ng-show="sure">
            <button data-ng-click="totallyQuit()">
              yes, quit
            </button>
            <button data-ng-click="cancelQuit()">
              keep going
            </button>
          </span>
        </aside>
        <div class="clearfix"></div>
        <ul data-ng-show="capturing">
          <li data-ng-repeat="capture in captures"><a data-ng-click="use(capture)">{{capture.name}}</a></li>
          <li data-ng-show="fileEnabled"><a data-ng-click="file()">+ from file</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>